/* Container für die gesamte Zeitachsen-Ansicht */
.timeline-container {
    position: absolute;
    left: 250px; /* Abstand vom linken Rand */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100vw - 250px); /* Breite 100% des Viewports minus den 250px Abstand */
    height: calc(100vh - 0px); /* Höhe 100% des Viewports minus den 50px Abstand */
    margin: 0;
    padding: 0;
    overflow: hidden; /* verhindert vertikales Scrollen */
}

/* Zeitstempel */
.timestamp {
    position: absolute;
    top: 7px;
    transform: translateX(-50%);
    z-index: 10;
}

.timestamp span {
    font-size: 12px;
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Senkrechte Linien */
.line {
    position: absolute;
    top: 10px;
    height: 100%;
    width: 2px;
    background-color: rgba(169, 169, 169, 0.5);
    z-index: 5;
}

/* Zeitachsenbereiche */
.timeline-area {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.timeline-area-top {
    background: rgba(173, 216, 230, 0.5);
    border-bottom: 2px solid #ccc;
}

.timeline-area-bottom {
    background: rgba(255, 99, 71, 0.5);
}

.timeline-label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
