/* Wrapper für die gesamte Ansicht */
.timeline-wrapper {
    display: flex;
    position: fixed;
    left: 250px; /* Platz für Menü */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Linker Bereich: Legende */
.legend-area {
    position: fixed;
    width: 200px; /* Fester Bereich für die Legende */
    left: 250px;
    top: 0;
    height: 100%;
    border-right: 2px solid #474747;
    z-index: 20; /* Über der scrollbaren Zeitachse */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

/* Zeitloser Bereich */
.timeless-area {
    position: fixed;
    width: 250px; /* Fester Bereich rechts */
    right: 0;
    top: 0;
    height: 100%;
    background: rgb(233, 208, 171);
    border-left: 2px solid #474747;
    z-index: 10; /* Über der scrollbaren Zeitachse */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.timeline-static {
    position: fixed;
    top: 0;
    z-index: 4; /* Über der scrollbaren Zeitachse */
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/* Container für die gesamte Zeitachsen-Ansicht */
.timeline-container {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 200px; /* Platz für Legende */
    margin-right: 250px; /* Platz für zeitlosen Bereich */
}

.scroll-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.movable-layer {
    position: relative;
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 6; /* Über der scrollbaren Zeitachse */
    white-space: nowrap; /* Verhindert Zeilenumbruch */
}

/* Zeitstempel */
.timestamp {
    position: absolute;
    top: 7px;
    transform: translateX(-50%);
    z-index: 9;
}

.timestamp span {
    font-size: 12px;
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Senkrechte Linien */
.line {
    position: absolute;
    top: 10px;
    height: 100%;
    width: 2px;
    background-color: rgba(169, 169, 169, 0.5);
}

.timeline-area-top {
    background: rgb(201, 219, 216);
    border-bottom: 2px solid #474747;
}

.timeline-area-bottom {
    background: rgb(216, 198, 198);
}

.timeline {
    position: absolute;
    width: 100%;
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(169, 169, 169, 1);
}

.timeline-label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #474747;
}

/* --- Fixierte statische Bereiche (z. B. in legend-area) --- */

.timeline-area-static {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* --- Scrollbare Timeline-Bereiche --- */
/* Zeitachsenbereiche */
.timeline-area-scroll {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

