html, body {
    height: 100%;
    margin: 0;
}

.timeline-wrapper,
.timeline-container,
.scroll-wrapper,
.movable-layer {
    height: 100%;
}

/* Wrapper für die gesamte Ansicht */
.timeline-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 250px;
    right: 0;
    overflow: hidden; /* oder scroll, je nach Bedarf */
}

/* Linker Bereich: Legende */
.legend-area {
    position: fixed;
    width: 200px; /* Fester Bereich für die Legende */
    left: 250px;
    top: 0;
    height: 100%;
    border-right: 2px solid #474747;
    z-index: 20; /* Über der scrollbaren Zeitachse */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

/* Zeitloser Bereich */
.timeless-area {
    position: fixed;
    width: 250px; /* Fester Bereich rechts */
    right: 0;
    top: 0;
    height: 100%;
    background: rgb(233, 208, 171);
    border-left: 2px solid #474747;
    z-index: 20; /* Über der scrollbaren Zeitachse */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.timeline-static {
    position: fixed;
    top: 0;
    z-index: 4; /* Über der scrollbaren Zeitachse */
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/* Container für die gesamte Zeitachsen-Ansicht */
.timeline-container {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 200px; /* Platz für Legende */
    margin-right: 250px; /* Platz für zeitlosen Bereich */
}

.scroll-wrapper {
    width: 100%;
    height: 100%;
    left: 200px;
    right: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}



.movable-layer {
    position: relative;
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 6; /* Über der scrollbaren Zeitachse */
    white-space: nowrap; /* Verhindert Zeilenumbruch */
}

/* Zeitstempel */
.timestamp {
    position: absolute;
    top: 7px;
    transform: translateX(-50%);
    z-index: 9;
}

.timestamp span {
    font-size: 12px;
    background-color: #fff;
    padding: 4px 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Senkrechte Linien */
.line {
    position: absolute;
    top: 10px;
    height: 100%;
    width: 2px;
    background-color: rgba(169, 169, 169, 0.5);
}

.timeline-area-top {
    background: rgb(201, 219, 216);
    border-bottom: 2px solid #474747;
}

.timeline-area-bottom {
    background: rgb(216, 198, 198);
}

.timeline {
    position: absolute;
    width: 100%;
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(169, 169, 169, 1);
}

.timeline-cookies {
    position: absolute;
    top: calc(60%);
    width: 100%;
    height: 2px;
    display: flex;
    background-color: rgba(169, 169, 169, 1);
}

.timeline-webdata {
    position: absolute;
    top: calc(65%);
    width: 100%;
    height: 2px;
    display: flex;
    background-color: rgba(169, 169, 169, 1);
}

.timeline-favicons {
    position: absolute;
    top: calc(70%);
    width: 100%;
    height: 2px;
    display: flex;
    background-color: rgba(169, 169, 169, 1);
}

/* --- Beschriftungen --- */

.timeline-label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #474747;
}

.timeline-history-label {
    position: absolute;
    top: calc(50% - 19px);
    left: 10px;
    font-size: 16px;
    display: flex;
    color: #474747;
}

.timeline-cookies-label {
    position: absolute;
    top: calc(60% - 18px);
    left: 10px;
    font-size: 16px;
    display: flex;
    color: #474747;
}

.timeline-webdata-label {
    position: absolute;
    top: calc(65% - 18px);
    left: 10px;
    font-size: 16px;
    display: flex;
    color: #474747;
}

.timeline-favicons-label {
    position: absolute;
    top: calc(70% - 18px);
    left: 10px;
    font-size: 16px;
    display: flex;
    color: #474747;
}



/* --- Fixierte statische Bereiche (z. B. in legend-area) --- */
.timeline-area-static {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* --- Scrollbare Timeline-Bereiche --- */
/* Zeitachsenbereiche */
.timeline-area-scroll {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* --- Zeitachsen-Elemente --- */

/* Basis Marker */
.domain-marker {
    position: absolute;
    top: calc(25% - 6px);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 19;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

    /* Hohler Kreis */
    .domain-marker.hollow {
        border: 2px solid currentColor;
        background: none;
    }

    /* Gefüllter Kreis */
    .domain-marker.filled {
        background-color: currentColor;
    }

    /* Hohles Quadrat (Google / Suchmaschine) */
    .domain-marker.square {
        width: 12px;
        height: 12px;
        border: 2px solid currentColor;
        background: none;
        border-radius: 0;
    }


.subentry-marker {
    position: absolute;
    cursor: pointer;
    z-index: 20;
    width: 12px;
    height: 12px;
}


/* Tooltip */
.subentry-tooltip {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 6px 10px;
    color: white;
    border-radius: 4px;
    font-size: 11px;
    z-index: 999;
    white-space: nowrap;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.domaine-tooltip {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 6px 10px;
    color: white;
    border-radius: 4px;
    font-size: 11px;
    z-index: 999;
    white-space: nowrap;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

/* Domain Tooltip */
.domain-marker:hover > .domaine-tooltip {
    display: block;
}

/* SubEntry Tooltip */
.subentry:hover > .subentry-tooltip {
    display: block;
}





/* Wenn auf Artefakt geklickt wird */
.entry-details {
    margin-top: 20px;
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #cce;
    max-width: 600px;
    font-size: 14px;
}



.cookie-marker {
    position: absolute;
    top: calc(30% - 10px);
    /*left: calc(-6px);  damit es auf der Achsenlinie liegt */
    width: 4px;
    height: 20px;
    background-color: #6846FC;
    border-radius: 50%;
    z-index: 19;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

    .cookie-marker:hover::after {
        content: "Created: " attr(data-time) "\A Name: " attr(data-host) "\A Value: " attr(data-encryptedvalue);
        white-space: pre; /* "\A" für Zeilenumbruch aktivieren */
        position: absolute;
        top: 28px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #6846FC;
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 10px;
        z-index: 999;
    }


.autofill-marker {
    position: absolute;
    top: calc(32.5% - 10px);
    /*left: calc(-6px);  damit es auf der Achsenlinie liegt */
    width: 4px;
    height: 20px;
    background-color: #25AAC1;
    border-radius: 50%;
    z-index: 19;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

    .autofill-marker:hover::after {
        content: "Created: " attr(data-time) "\A Name: " attr(data-name) "\A Value: " attr(data-value);
        white-space: pre; /* "\A" für Zeilenumbruch aktivieren */
        position: absolute;
        top: 28px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #25AAC1;
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 10px;
        z-index: 999;
    }